body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F4F4F4;
  padding: 30px;
  color: #333;
  /* background-image: achar 
  background-position: center;
  background-size: cover;
  */
}

.app {
  max-width: 60vw;
  margin: 0 auto;
  background-color: #efefef;
}